.delete-btn {
  background-color: transparent;
  border: 0;
}

#render-task-form-btn {
  padding: 2%;
  /* align-self: flex-start; */
}

.todo-container {
  display: flex;
  justify-content: space-between;
}

.title-container {
  
}