.delete-btn-container{
  display: flex;
  justify-content: space-between;
}
.delete-btn {
  background-color: transparent;
  border: 0;
  margin-bottom: 2%;
  font-size: large;
}

.back-link{
  font-size: x-large;
}

#render-task-form-btn {
  padding: 2%;
  align-self: flex-end;
  background-color: rgba(79, 129, 254, 0.15);
  border: 1px solid rgb(79,129,254);
  color: rgb(79,129,254);
}   

.todo-container {
  display: flex;
  justify-content: space-between;
}

.add-task-msg-container {
  display: grid;
}

.add-task-msg {
  place-self: end;
  font-size: large;
  margin-right: 25%;
}

.arrow {
  place-self: end;
  font-size: x-large;
  margin-right: 20%;
}

@media only screen and (min-width: 768px){
  #render-task-form-btn {
    padding: 1%;
  }
  .add-task-msg {
    margin-right: 12%;
  }

  .arrow {
    margin-right: 10%;
  }
}
