#active { 
  background-color: rgb(79,129,254) !important;
  color: white;
  border: 0;
}

.view-btn {
  border: 1px solid rgb(214, 214, 214);
  border-radius: 4px;
  padding: 2%;
  background-color: transparent;
  color: rgb(79,129,254);
}
