#active { 
  background-color: rgb(79,129,254) !important;
  color: white;
  border: 1px solid rgb(79,129,254);
}

.view-btn {
  border: 1px solid rgb(214, 214, 214);
  padding: 2%;
  background-color: transparent;
  color: rgb(79,129,254);
  width: 47%;
}

.calendar {
  border-radius: 0px 4px 4px 0px;
}

.list {
  border-radius: 4px 0px 0px 4px ;
}
