.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-top: 10%;
}

.button{
  border-radius: 5px;
  border: 1px solid rgb(79,129,254);
  background-color: rgb(79,129,254);
  color: rgb(255, 255, 255);
  padding: 2% 2%;
}

.signup{
  display: flex;
  justify-content: center;
  width: 100%;
}

@media only screen and (min-width: 768px){
  .button{
    padding: 1% 1%;
  }
  .title {
    margin-top: 5%;
    width: 60%;
    font-size: 3rem;
  }
}