.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.button{
  border-radius: 5px;
  border: 1px solid rgb(79,129,254);
  background-color: rgb(79,129,254);
  color: rgb(255, 255, 255);
  padding: 2% 2%;
}

a{
  display: flex;
  justify-content: center;
  width: 100%;
}


@media only screen and (min-width: 768px){
  .button{
    padding: 1% 1%;
  }
}