.projectcard-container {
  border-radius: 8px;
  padding: 3% 8% 3% 8%;
  margin-bottom: 5%;
  display: grid;
  align-items: center;
  box-shadow: 3px 3px 7px 2px rgb(202, 202, 202);
}

.project-deadline {
  padding-bottom: 3%;
  color: rgb(157, 157, 157);
}
