.confirmation{
  display: grid;
  place-content: center;
}

.delete-confirm-btn {
  border-radius: 5px;
  border: 0;
  background-color: rgb(234, 28, 28);
  color: white;
  padding: 2% 2%;
}

.cancel-delete-btn{
  border-radius: 5px;
  border: 0;
  background-color: rgb(193, 193, 193);
  color: white;
  padding: 2% 2%;
}