.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.inputContainer {
  margin-bottom: 1rem;
}

.buttonContainer{
  display: grid;
  width: 31%;
}

.button{
  border-radius: 5px;
  border: 1px solid rgb(79,129,254);
  background-color: rgb(79,129,254);
  color: rgb(255, 255, 255);
  padding: 2% 2%;
}

.cancelLoginBtn{
  width: 100%;
  margin-top: 20%;
  margin-bottom: 10%;
  border-radius: 5px;
  border: 1px solid rgb(178, 178, 178);
  background-color: rgba(178, 178, 178, 0.152);
  color: rgb(145, 145, 145);
  padding: 2% 2%;
}

.logininput {
  width: 200px;
  padding: 2%;
  background-color: rgb(246, 246, 246);
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
}

@media only screen and (min-width: 768px){
  .buttonContainer{
    display: grid;
    width: 16%;
  }

}