.btn-container {
  display: flex;
  place-self: end;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 2%;
}

.add-btn-mobile{
  background-color: rgb(79,129,254);
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: x-large;
}
.add-btn-desktop {
  display: none;
}

main {
  display: grid;
  margin-bottom: 20%;
}

.list-cal-btn-container {
  position: fixed;
  bottom: 5%;
  width: 100%;
}

@media only screen and (min-width: 768px){
  .project-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2% 2%;
  }

  .add-btn-mobile{
    display: none;
  }

  .add-btn-desktop {
    display: flex;
    border-radius: 5px;
    border: 0;
    background-color: rgb(79,129,254);
    color: white;
    padding: 1% 2%;
  }
}
