.btn-container {
  display: flex;
  place-self: end;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 2%;
}

.add-btn-mobile{
  border-radius: 50%;
  background-color: rgba(79, 129, 254, 0.15);
  border: 1px solid rgb(79,129,254);
  color: rgb(79,129,254);
  font-size: x-large;
}
.add-btn-desktop {
  display: none;
}

main {
  display: grid;
  margin-bottom: 20%;
}

.list-cal-btn-container {
  position: fixed;
  bottom: 5%;
  width: 100%;
}
.no-proj-msg{
  margin-top: 10%;
  margin-left: 25%;
  border-radius: 4px;
  box-shadow: 3px 3px 7px 2px rgb(202, 202, 202);
  padding: 3%;
  width: 50%;
  text-align: center;
}

@media only screen and (min-width: 768px){
  .project-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2% 2%;
  }

  .add-btn-mobile{
    display: none;
  }

  .add-btn-desktop {
    display: flex;
    border-radius: 5px;
    padding: 1% 2%;
  background-color: rgba(79, 129, 254, 0.15);
  border: 1px solid rgb(79,129,254);
  color: rgb(79,129,254);
  }
}
