.add-project-btn{
  background-color: rgb(79,129,254);
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: x-large;
  padding: 0 2%;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

main {
  margin: 4%;
}
