.add-task-form {
  display: grid;
}

.add-task-form div {
  margin-bottom: 4%;
}

.task-description {
  border-bottom: 1px solid black;
}

.add-task-form label {
  /* font-size: large; */
  color: grey;
  padding-right: 1%;
}

.add-task-form input {
  border: 0;
  font-size: large;
}

.date-container {
  display: flex;
}

#add-task-btn {
  padding: 2% 48%;
}

@media only screen and (min-width: 768px){

}