.calendar-container {
  /* border: 1px solid rgb(243, 26, 26); */
  display: grid;
  grid-template: repeat(5, 20%) / repeat(7, 14.28%) ;
  min-height: 50vh;
}

.month {
  border-bottom: 1px solid rgb(216, 216, 216);
  margin: 0;
}

.day-box {
  border-bottom: 1px solid rgb(216, 216, 216);
}


@media only screen and (min-width: 768px){

}

